@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    @apply overflow-hidden bg-black
}

@keyframes dim {
    0% {
        background-color: #590392;
    }

    100% {
        background-color: rgb(15, 15, 15);
    }
}


@keyframes bgAnim {
    0% {
        bottom: 1000px;
    }

    100% {
        bottom: -1100px;

    }
}

.box {
    @apply h-14 aspect-square rounded-lg;
    background-color: rgb(15, 15, 15);
}

.dimmed {
    animation: dim 3s forwards;
}

.bgColor {
    animation: bgAnim 6s forwards;
    animation-iteration-count: infinite;

}